@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}
<link rel="stylesheet" href="/css/ArticleCardStyles.css" />
<h1>@Model.HeaderText</h1>
<p>@Model.HeaderSubText</p>

<div class="articleCardContainer">
@{
	var selection = Umbraco.Content(Guid.Parse("630a80d6-7099-4e9e-8ae9-ac3fb95ad61a"))
    .ChildrenOfType("blogPost")
    .Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate.Date);
}
	
	@foreach (var item in selection)
	{	
		var headerImage = ((Umbraco.Cms.Web.Common.PublishedModels.BlogPost)item).HeaderImage?.MediaUrl();
		<a href="@item.Url()" class="articleCardAnchor">
			<div class="articleCard" style="background-image: url(@headerImage);">
				<h2>
					@item.Value("title")
				</h2>
				<p class="articleCardSubTitle">
					@item.Value("subtitle") 
				</p>
				<p>
					@item.CreateDate.Date.ToShortDateString();
				</p>
			</div>
		</a>
	}

</div>

<style>

</style>